/************************************GENERAL*****************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: lightgrey;
    font-family: monospace;
    font-size: 16px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-params {
    height: 100%;
    max-width: 1200px;
    padding: 15px;
}

/*************************************USERS*******************************************/

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    flex-grow: 0;
    height: 36px;
    padding: 3px;
    color: darkblue;
    border: 2px groove;
    border-radius: 15px;
    box-shadow: 5px 5px 5px darkblue;
}

.user-block:hover {
    border: 2px solid darkblue;
}

.reference {
    background: lightgrey;
    font-size: 14px;
    transition: all 300ms ease;
    border: 2px outset darkgrey;
    color: black;
    position: relative;
    top: 12px;
}

.reference:hover {
    background: darkblue;
    color: greenyellow;
    min-width: 100px;
}

a {
    padding: 0 6px;
    text-decoration: none;
    background: lightgrey;
    font-size: 11px;
    text-align: center;
    color: black;
    cursor: pointer;
    border: 1px solid;
    border-radius: 7px;
    transition: all 300ms ease;
}

a:hover {
    background: darkblue;
    color: greenyellow;
}

/******************************************DETAILS*************************************/
.container {
    max-width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.wrapper-2 {
    width: 99%;
    height: 35%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 5px groove;
    box-shadow: 5px 5px 10px darkblue;
}

.post-block {
    margin-top: 50px;
    width: 100%;
}

.post-block .list {
    margin: 0 0 0 30px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
}

.list li {
    flex-basis: 50%;
}

.list li a {
    margin-left: 5px;
}

.info-block {
    min-height: 56px;
    flex-basis: 18%;
    text-align: center;
    border: inset;
    color: darkblue;
}

button {
    width: 135px;
    padding: 5px;
    align-self: center;
    background: lightgrey;
    color: black;
    cursor: pointer;
    transition: all 300ms ease;
    border: 3px outset;
    border-radius: 15px;
}

button:hover {
    background: darkblue;
    color: greenyellow;
}

/******************************************POSTS***************************************/

.wrapper-3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info {
    padding: 0 40px;
    border: 2px groove;
    box-shadow: 10px 10px 15px darkblue;
}

.post-info p {
    color: darkblue;
}

.post-info ul {
    padding-left: 0;
}