/************************************GENERAL*****************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: lightgrey;
    font-family: monospace;
    font-size: 16px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-params {
    height: 100%;
    max-width: 1200px;
    padding: 15px;
}

/*************************************USERS*******************************************/

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    flex-grow: 0;
    height: 35px;
    padding: 3px;
    border: 2px groove;
    border-radius: 15px;
}

.reference {
    background: darkblue;
    font-size: 14px;
    transition: all 300ms ease;
    border: outset;
}

.reference:hover {
    background: yellowgreen;
    color: darkblue;
    min-width: 100px;
}

a {
    padding: 0 6px;
    text-decoration: none;
    background: rgba(129, 129, 185, 0.82);
    font-size: 11px;
    /*align-self: stretch;*/
    text-align: center;
    color: yellow;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: all 300ms ease;
}

a:hover {
    background: yellowgreen;
    color: darkblue;
}

/******************************************DETAILS*************************************/
.container {
    max-width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper-2 {
    width: 99%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px groove;
}

.post-block {
    margin-top: 50px;
    width: 100%;
}

.post-block .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
}

.list li {
    flex-basis: 50%;
}

.info-block {
    flex-basis: 18%;
    text-align: center;
}

button {
    width: 135px;
    padding: 5px;
    align-self: center;
    background: darkblue;
    color: yellow;
    cursor: pointer;
    transition: all 300ms ease;
    border: outset;
    border-radius: 15px;
}

button:hover {
    background: yellowgreen;
    color: darkblue;
}

/******************************************POSTS***************************************/

.wrapper-3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info {
    padding: 0 40px;
    border: 2px groove;
}

.post-info ul {
    padding-left: 0;
}